main {
  padding: 2rem;
  height: calc(100vh - 4rem);
  width: unset;
}

#content {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 2rem;
}

textarea {
  transition: color, background, fontSize, 0.5s;
  width: 70vw;
  height: 100%;
  resize: vertical;
  font-family: sans-serif;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
